/* Will be compiled down to a single stylesheet with your sass files */

body {
	font-family: Roboto, "Open Sans", sans-serif;
	padding-top: 60px;
}

.angular-google-map-container {
	display: block;
	height: 600px;
	
}

.hero-unit h1 {
	margin-bottom: 10px;
	letter-spacing: -3px;
	text-shadow: -1px 0 0 #fff;
}

.hero-unit h1 + p {
	margin-bottom: 10px;
}

dd {
	margin-left: 0;
	margin-bottom: 20px;
}

.collaborator {
	font-weight: bold;
}

.github {
	background: #f5f5f5 url(../images/GitHub-Mark-32px.png) no-repeat 50% 5%;
	padding-top: 40px;
}

.card {
	box-shadow: 1px 1px 3px #aaa; 
}

legend {
	margin-bottom: 0;
}

/* fix images in map */
.angular-google-map-container img {
  max-width: inherit !important;
}

#menu {
	width: 170px;
}

#menu li > a {
	font-weight: 300;
}

#menu li.active > a {
	font-weight: normal;
}