/* Will be compiled down to a single stylesheet with your sass files */

body {
	font-family: "Open Sans", sans-serif;
	padding-top: 60px;
}

.hero-unit h1 {
	margin-bottom: 10px;
	letter-spacing: -3px;
	text-shadow: -1px 0 0 #fff;
}

.hero-unit h1 + p {
	margin-bottom: 10px;
}

/* fix images in map */
.angular-google-map {
	display: block;
	height: 400px;
	width: 100%;
}

.angular-google-map img {
  max-width: inherit !important;
}

#menu {
	width: 170px;
}

#menu li > a {
	font-weight: 300;
}

#menu li.active > a {
	font-weight: normal;
}