<div class="page-title">
  <h1>Live demo</h1>
</div>

<p>This is the live demo of angular-google-maps. You can familiarize with the different features
of the library on this page.</p>

<div class="card">
	<div class="row-fluid">

	<div class="span8">
		<google-map  center="map.center"
		  zoom="map.zoom" 
		  options='{"panControl": false, "zoomControl": false, "scaleControl": false }' 
		  events="map.events" 
		  draggable="true" 
		  mark-click="true">
		  
		  <!-- all markers of the map -->
		  <marker ng-repeat="m in map.markers" coords="m">
		  
		 	<!-- info window which shows when the marker is clicked -->
		  	<window isiconvisibleonclick="false">This is position {{ m.latitude }}, {{ m.longitude }}</window>
		  </marker>
		   
		  <!-- marker list can also be used as a polyline path -->
		  <polyline path="map.markers"></polyline>
		</google-map>
	</div>
	<div class="span4">
		<form class="">
		      <fieldset>
		        <legend>Properties</legend>
		        <div class="control-group">
		          <label class="control-label">Zoom</label>
		          <div class="controls">
		            <div class="btn-group input-append">
		              <button class="btn" ng-click="map.zoomOut()" ng-disabled="map.zoom == 1"><i class="icon-zoom-out"></i></button>
		              <button class="btn" ng-click="map.zoomIn()"><i class="icon-zoom-in"></i></button>
		              <span class="add-on">{{ map.zoom }}</span>
		            </div>
		          </div>
		        </div>
		        
		        <div class="control-group">
		          <label class="control-label">Latitude</label>
		          <div class="controls">
		            <input type="text" required ng-model="map.center.latitude">
		          </div>
		          </label>
		        </div>
		        
		        <div class="control-group">
		          <label class="control-label">Longitude</label>
		          <div class="controls">
		            <input type="text" required ng-model="map.center.longitude">
		          </div>
		        </div>
		        
		        <div class="control-group">
		          <div class="controls">
		            <button class="btn btn-success" ng-disabled="!geolocationAvailable" ng-click="findMe()">Find me</button>
		          </div>
		        </div>
		      </fieldset>    
		    
		      <fieldset>
		        <legend>Markers</legend>
		        
		        <div class="control-group">
		        	<ul class="inline">
		        		<li ng-repeat="marker in map.markers">
		        			<span class="label">{{ marker.latitude }}, {{ marker.longitude }}</span>
		        		</li>
		        	</ul>	        
		        </div>
		      </fieldset>
		    
		  
		</form>
	</div>
	</div>
</div>

