<div class="hero-unit">

  <div class="row-fluid">
    <div class="span10">
      <h1>Google Maps for Angular.js</h1>
      <p>Simple to use <a rel="external" href="http://angularjs.org/">Angular.js</a> directive to work with Google Maps inside your applications.</p>
      
      <a class="btn btn-large btn-primary" href="">Download</a>
      <a class="btn btn-large">View on Github</a>
      <a class="btn btn-large btn-danger">Report an issue</a>
    </div>
    
    <div class="span2">
      <img src="/images/google-maps-icon.png" alt="Google Maps icon">
    </div>
  </div>
  
</div>

<main>
  <div google-map center="map.center" zoom="map.zoom" markers="map.markers" options="map.options" events="map.events" draggable="true" mark-click="true"></div>
</main>