
<div class="hero-unit">
    <h1>Google Maps for Angular.js</h1>

    <p>Simple to use <a rel="external" href="http://angularjs.org/">Angular.js</a> 
    directive to work with Google Maps inside your applications.</p>
    
    <a class="btn btn-large btn-primary" href="">Download</a>
    <a class="btn btn-large">View on Github</a>
    
    <div class="pull-right">
      <img ng-src="/images/angularjs-50x50.png" alt="AngularJS logo">
      <img ng-src="/images/google-maps-icon.png" alt="Google Maps logo">
    </div>
</div>
